* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border: 15px solid #4eb340;
    margin: 0 auto; 
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.turtle {
    position: absolute;
    animation: turtle-animation 1.5s linear;
}

@keyframes turtle-animation {
    from {
        right: -400px;
    }
    to {
        right: 100%;
    }
}

.clouds {
    width: 400px;
    position: absolute;
    animation: clouds-animation 10s infinite linear;
}