* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border: 15px solid #4eb340;
    margin: 0 auto; 
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}


@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}
.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}


@keyframes turtle-animation {
    from {
        right: -400px;
    }
    to {
        right: 100%;
    }
}
.turtle {
    position: absolute;
    animation: turtle-animation 1.5s linear;
}

@keyframes clouds-animation {
    from {
        right: -400px;
    }
    to {
        right: 100%;
    }
}

.clouds {
    width: 400px;
    position: absolute;
    animation: clouds-animation 10s infinite linear;
}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px
    }
    100% {
        bottom: 0px;
    }
}
.jump {
    animation: jump-animation 500ms ease-out;
}

.points {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.game-over {
    width: 100%;
    height: 500px;
}